casadi==3.7.1
clarabel==0.11.1
matplotlib==3.10.5
numpy==2.2.6
osqp==1.0.4
pandas==2.3.1
proxsuite==0.7.2
quadprog==0.1.13
qpsolvers @ git+https://github.com/fedeiada/qpsolvers.git@2808e3e471f3e501648ebc36d0d9db61f931f983
scipy==1.15.3
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0